.cookie-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: auto;
    box-sizing: content-box;
  }
  
  .cookie-title {
    color: #6A4844;
    font-size: 2rem;
    text-align: center;
    width: auto;
    font-family: "Raleway";
  }
  
  .cookie-flex-row {
    display: flex;
    align-items: flex-start; /* Alinea los elementos verticalmente */
    gap: 2rem;
    max-width: 1500px;
    width: 100%;
  }
  
  .cookie-flex-item {
    text-align: left;
    margin-top: 0;
    flex: 1 1 250px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinea el contenido verticalmente */
  }
  
  .cookie-image-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    text-align: center;
    flex: 1 1 400px;
  }
  
  .cookie-image {
    width: 100%;
    border-radius: 20px;
    padding-top: 0;
  }
  
  .cookie-subtitle {
    color: #6A4844;
    font-size: 1.8rem;
    margin: 0; /* Elimina cualquier margen */
    padding: 0; /* Elimina cualquier padding */
  }
  .cookie-text {
    color: #6A4844;
    font-size: 1.5rem;
    text-align: center;
    width: auto;
    font-family: "Raleway";
    
  }
  
  .cookie-list {
    list-style-type: none;
    padding-bottom: 2rem;
    margin: 0;
    font-size: 1.5rem;
    color: #6A4844;
    font-family: "Raleway";

  }
  
  .cookie-sabores {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinea el contenido verticalmente */
  }
  
  .cookie-rellenos {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinea el contenido verticalmente */
  }

  .cookie-list .icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }