.focaccia-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  box-sizing: content-box;
  padding-bottom: 10rem;
}

.focaccia-title {
  color: #6A4844;
  font-size: 2rem;
  text-align: center;
  width: auto;
  font-family: "Raleway";
}

.focaccia-flex-row {
  display: flex;
  align-items: flex-start; /* Alinea los elementos verticalmente */
  gap: 2rem;
  max-width: 1500px;
  width: 100%;
}

.focaccia-flex-item {
  text-align: left;
  margin-top: 0;
  flex: 1 1 250px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alinea el contenido verticalmente */
}

.focaccia-image-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  text-align: center;
  flex: 1 1 400px;
}

.focaccia-image {
  width: 100%;
  border-radius: 20px;
  padding-top: 0;
}

.focaccia-subtitle {
  color: #6A4844;
  font-size: 1.8rem;
  margin: 0; /* Elimina cualquier margen */
  padding: 0; /* Elimina cualquier padding */
}

.focaccia-text {
  color: #6A4844;
  font-size: 1.5rem;
  text-align: center;
  width: auto;
  font-family: "Raleway";
}

.focaccia-list {
  list-style-type: none;
  padding-bottom: 2rem;
  margin: 0;
  font-size: 1.5rem;
}

.focaccia-sabores {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alinea el contenido verticalmente */
}

.focaccia-rellenos {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alinea el contenido verticalmente */
}

.focaccia-list .title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #6A4844;
  text-align: left;
  padding: 0;
}
.focaccia-list .text {
  font-size: 1.3rem;
  padding: 0;
  color: #6A4844;
  text-align: left;
}

.focaccia-price {
  display: "flex";
  justify-content: "space-around";
  margin-top: "20px";
}